body, html {
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	height: 100%;
	width: 100%
}

#main-container,
#nav-container {
	margin:0;
	padding:0;
	box-sizing:content-box;
}

/*navbar*/

#nav-container {
  margin:0;
  padding:0;
  }

#navcase {
	margin:0 0 1vw 0;
	padding:0;
	background:linear-gradient(to bottom, #33cccc 20%, white 100%) !important;
}
#navcase2 {
	margin:0;
	padding:0;
	background:linear-gradient(to top, #33cccc 20%, white 100%) !important;
}

#navbuttons {
	font-size: 10pt !important;
	margin:.5vw 0 .5vw 0;
}
#navi-links a {
	border: none;
	border-radius: none;
	background-color: none;
	margin:.5vw 3vw .5vw 3vw !important;
	padding: .5vw 3vw .5vw 3vw !important;
	font-weight: bold;
	color: #006666;
	font-family: 'Satisfy', cursive;
	font-size: 15pt;
}

#navi-links a:hover {
	border: 2px white solid;
	border-radius: 10px;
	background-color: #006666;
	color: white;
}

#navi-links a.active {
	border: 2px white solid ;
	border-radius: 10px;
	background-color: #006666;
	color: white;
}
	

.logo-brand {
	transform: scale(1.1);
	margin:2vw 0 0 0;
	padding:0;
	box-sizing:content-box;
}


#contact-img-header {
	border: none !important;
	height: 25vw;
}


#card-minicon{
	margin:0;
	padding:0;
	width:100%;
	box-sizing:content-box;

}
#card-container {
	height:100%;
	width:100%;
	margin:0;
	border: none;
	padding:0;
	box-sizing:content-box;
}

#card-box {
	background-image: url(../images/05Contact/contactbanner.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height:40vw;
}

#bannerheader {
	margin: 0 0 0 0;
	font-size: 30pt !important;

}

#bannerheader {
	margin: 0 0 0 0;
	font-size: 35pt !important;
	font-weight: bold;
	color: #006666;
	font-family: 'Satisfy', cursive;
	font-size: 30pt;
}

#contact-form {
	margin: 5vw 10vw 5vw 10vw;
}

#bannerparagraph {
		font-size: 12pt;
	font-family: 'Roboto', sans-serif;
}

.form-group label {
		font-size: 12pt;
	font-family: 'Roboto', sans-serif;
}

#contact-link {
	margin:0;
	padding:0;
}

.d-block button {
	font-size: 12pt;
	font-family: 'Roboto', sans-serif;
}

.footer {
	height:30px;
	width:100%;
	color: white;
	font-size: 10pt;
	margin:5px 0 0 0;
	padding: 0;
	box-sizing: content-box;
	background:linear-gradient(to top, #006666 20%, white 100%) !important;
}